.container {
    display: flex;
}

fieldset {
    width: 50%;
    border-radius: 2px;
}

.fieldset-2 {
    text-align: center;
}

.card {
    border: 1px solid black;
    border-radius: 2px;
    height: 70px;
    margin-bottom: 30px;
}

.card div {
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}

.amount {
    float: right ;
    margin-right: 80px;
}

.ingredient {
    margin-left: 40px;
}

.remove {
    padding: 10px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    transition: 100ms;
}

.remove:hover {
    transform: scale(1.1);
}

.ingredientImg {
    margin-top: 8px;
    margin-left: 20px;
    cursor: pointer;
    transition: 100ms;
}

.ingredientImg:hover {
    transform: scale(1.1
    );
}